/* Here is your diy css styles. */
/* 自定义css存放处*/
@font-face {    
    font-family: 'myfont';    
    src: url('https://cdn.jsdelivr.net/gh/sky20681/sky20681/font/告白体.ttf')；
 }
 
 body{
     font-family: 'myfont' ;
 }

 .diyfont{
    font-family: 'myfont';
}
