/* Here is your custom css styles. */
/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /gh/HCLonely/images@master/others/loading.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */



/* hr分割线 剪刀样式*/
hr {
    position: relative;
    margin: 2rem auto;
    width: calc(100% - 4px);
    border: 2px dashed #a4d8fa;
    background: #fff;
}
​
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
​
hr:before {
    position: absolute;
    top: -10px;
    left: 5%;
    z-index: 1;
    color: #49b1f5;
    content: "🐬";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 40px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
hr:hover::before{
    left: 95%;
}
​


}/*跳动文字css*/.Pshake {
	display: inline-block;
	will-change: transform;
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	-webkit-animation: Pshake_Crazy 1s ease-in-out infinite;
	animation: Pshake_Crazy 1s ease-in-out infinite;
}

@keyframes Pshake_Crazy {
	10% {
		transform: translate(-0.5px,-0.5px) rotate(0.5deg);
	}

	20% {
		transform: translate(-0.5px,1.5px) rotate(0.5deg);
	}

	30% {
		transform: translate(1.5px,0.5px) rotate(0.5deg);
	}

	40% {
		transform: translate(1.5px,-0.5px) rotate(-0.5deg);
	}

	50% {
		transform: translate(2.5px,1.5px) rotate(1.5deg);
	}

	60% {
		transform: translate(-0.5px,-0.5px) rotate(-0.5deg);
	}

	70% {
		transform: translate(-0.5px,2.5px) rotate(1.5deg);
	}

	80% {
		transform: translate(2.5px,-1.5px) rotate(-0.5deg);
	}

	90% {
		transform: translate(1.5px,-0.5px) rotate(1.5deg);
	}

	0%,100% {
		transform: translate(0,0) rotate(0);
	}
}/* 添加背景像素纹*/.bg-cover::before {
	background-image: url('https://cdn.jsdelivr.net/gh/sky20681/sky20681/img/wenli.png');
}/* 文章顶部hr 剪刀*/hr {
	position: relative;
	margin: 2rem auto;
	width: calc(100% - 4px);
	border: 2px dashed #a4d8fa;
	background: #fff;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

hr:before {
	position: absolute;
	top: -10px;
	left: 5%;
	z-index: 1;
	color: #49b1f5;
	content: "🐬";
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 20px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

hr:hover::before {
	left: 95%;
}/*动态背景css样式*/


/*页面底部的天空云彩*/
.sky {
	height: 200px;
	background: #007fd5;
	position: relative;
	overflow: hidden;
	-webkit-animation: sky_background 50s ease-out infinite;
	-moz-animation: sky_background 50s ease-out infinite;
	-o-animation: sky_background 50s ease-out infinite;
	animation: sky_background 50s ease-out infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }


  .diysky {
	  opacity: 0.85;
  }
  
  .sky .clouds_one {
	background: url("https://cdn.jsdelivr.net/gh/sky20681/sky20681/medias/cloud/cloud_one.png");
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 300%;
	-webkit-animation: cloud_one 50s linear infinite;
	-moz-animation: cloud_one 50s linear infinite;
	-o-animation: cloud_one 50s linear infinite;
	animation: cloud_one 50s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  
  .sky .clouds_two {
	background: url("https://cdn.jsdelivr.net/gh/sky20681/sky20681/medias/cloud/cloud_two.png");
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 300%;
	-webkit-animation: cloud_two 75s linear infinite;
	-moz-animation: cloud_two 75s linear infinite;
	-o-animation: cloud_two 75s linear infinite;
	animation: cloud_two 75s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  
  .sky .clouds_three {
	background: url("https://cdn.jsdelivr.net/gh/sky20681/sky20681/medias/cloud/cloud_three.png");
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 300%;
	-webkit-animation: cloud_three 100s linear infinite;
	-moz-animation: cloud_three 100s linear infinite;
	-o-animation: cloud_three 100s linear infinite;
	animation: cloud_three 100s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  
  @-webkit-keyframes sky_background {
	0% {
	  background: #007fd5;
	  color: #007fd5
	}
	50% {
	  background: #000;
	  color: #a3d9ff
	}
	100% {
	  background: #007fd5;
	  color: #007fd5
	}
  }
  @-moz-keyframes sky_background {
	0% {
	  background: #007fd5;
	  color: #007fd5
	}
	50% {
	  background: #000;
	  color: #a3d9ff
	}
	100% {
	  background: #007fd5;
	  color: #007fd5
	}
  }
  @keyframes sky_background {
	0% {
	  background: #007fd5;
	  color: #007fd5
	}
	50% {
	  background: #000;
	  color: #a3d9ff
	}
	100% {
	  background: #007fd5;
	  color: #007fd5
	}
  }
  
  @-webkit-keyframes cloud_one {
	0% {
	  left: 0
	}
	100% {
	  left: -200%
	}
  }
  @-moz-keyframes cloud_one {
	0% {
	  left: 0
	}
	100% {
	  left: -200%
	}
  }
  @keyframes cloud_one {
	0% {
	  left: 0
	}
	100% {
	  left: -200%
	}
  }
  
  @-webkit-keyframes cloud_two {
	0% {
	  left: 0
	}
	100% {
	  left: -200%
	}
  }
  @-moz-keyframes cloud_two {
	0% {
	  left: 0
	}
	100% {
	  left: -200%
	}
  }
  @keyframes cloud_two {
	0% {
	  left: 0
	}
	100% {
	  left: -200%
	}
  }
  
  @-webkit-keyframes cloud_three {
	0% {
	  left: 0
	}
	100% {
	  left: -200%
	}
  }
  @-moz-keyframes cloud_three {
	0% {
	  left: 0
	}
	100% {
	  left: -200%
	}
  }
  @keyframes cloud_three {
	0% {
	  left: 0
	}
	100% {
	  left: -200%
	}
  }

/*天空云彩*/


/*调整页面底部信息的位置*/
.diyheight {
	position: relative;
	top: 50px;
	left: 200px;
}

/*页面按钮样式*/
.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

/*页面按钮样式结束*/



/*旋转地球*/

.earth {
    perspective: 400vmin;
    transform-style: preserve-3d;
    width: min(16vmin, 320px);
    height: min(16vmin, 320px);

  }
  
  .earth::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: url(https://www.jq22.com/newjs/DON8Y_eUMAAV4pi.jpg) repeat-x;
    background-size: cover;
    border-radius: 50%;
    animation: rotate 30s infinite linear;
    box-shadow: -80px -15px 80px 10px rgba(0,0,0,.9) inset, -10px 0px 15px -7px #f0df1759;
  }
  
  
  @keyframes rotate {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position:1200px 0px;
    }
  }

  
  div.diyearth {
	position: relative;
	right: 300px;
    top: -68px;
  }